/*selector{
    propiedad: valor; //selector es el elemento al que se le aplicara el estilo, puede ser una etiqueta, clase o id
    }*/
body {
        font-family: Arial, sans-serif;
        margin: 3;
        background-color: rgb(251 255 5 / 0.05);} /*sintaxis recomendada*/
main {
    background-color: #edf8ff;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    }
header, footer {
    background-color: #edf8ff;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
        margin-bottom: 20px;
    }
        
h1{
    color: rgb(63, 63, 63);
    }